<footer class="page-footer font-small unique-color-white pt-4 mb-3" style="padding-left: 0px;">
    <div class="container">

      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Cadastre-se</h5>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'login' %}" class="btn btn-light btn-rounded waves-effect waves-light">Sign up!</a>
        </li>
      </ul>

    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/">jobsapp.com</a>
    </div>

  </footer>