<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'login' %}">Jobs App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cadastro' %}">Cadastro<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_reset' %}">Resetar Senha<span class="sr-only"></span></a>
            </li>
            
            <li class="nav-item">
                    <a class="nav-link" href="#">Plataforma<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'encontrar_jobs' %}">Encontrar Jobs<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'sair' %}">Sair<span class="sr-only"></span></a>
            </li>
            
        </ul>
    </div>
</nav>