{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'navbar/css/navbar.css' %}">
{% endblock %}

<nav style="background-color: #444;" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{% url 'login' %}"><span class="font-degrade-nav">Jobs App</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cadastro' %}">Cadastro<span class="sr-only"></span></a>
      </li>
      
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'encontrar_jobs' %}">Encontrar Jobs<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil' %}">Perfil<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      
      <li class="nav-item">
              <a class="nav-link" href="#">Plataforma<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'password_reset' %}">Resetar Senha<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'sair' %}">Sair<span class="sr-only"></span></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
